{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% include '/utils/header.html.twig' %}

    <div class="example-wrapper">
    <h1>Calcul délai de règlement</h1>
        <img src="https://media.istockphoto.com/id/1242889583/fr/photo/calculatrice-de-base-sur-la-table.jpg?s=612x612&w=0&k=20&c=2MJQtDNMVRe65-BaZzZAlxXs2o24HqU8Fb_qWgbMO8I=" alt="calculatrice">
        <form>
        <div class="form-group">
            <label class="col-form-label ml-4 mt-4" for="inputDefault">Date de facture</label>
            <input type="text"  class="form-control" placeholder="Date de facture" id="inputdate">
        </div>

        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4 ml-4">Conditions de réglement</label>
            <select class="form-select" id="exampleSelect1">
                {% for key, constantNameArray in constantList %}
                    {% if constantNameArray.name is defined %}
                    <option value="{{ key }}">{{ constantNameArray.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="button" class="btn btn-primary mb-4 ml-4 mt-4">Calculer</button>
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="readOnlyInput"> Date d'échéance </label>

                <input class="form-control" id="dateEcheance" type="text" placeholder="Date d'échéance" readonly value={{ dateEnd|date('Y-m-d') }}>
            </fieldset>
        </div>
        </form>

        <script>
            const calcButton = document.querySelector('.btn-primary');
            const dateFacture = document.getElementById('inputdate');
            const conditionReglement = document.getElementById('exampleSelect1');

            calcButton.addEventListener('click',function(event){
                event.preventDefault();
                requestCalcul();
            });
            function requestCalcul(){
                const dateValue = dateFacture.value;
                const conditionValue = conditionReglement.value;
                document.location.replace("http://127.0.0.1:8000/?date="+dateFacture.value+"&condition="+conditionReglement.value);

            }</script>
</div>

{% endblock %}
