{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% include '/utils/header.html.twig' %}

    <div class="example-wrapper">
    <h1>Bienvenue dans le bac à sable</h1>
    <img src="https://st.depositphotos.com/1735158/4657/i/600/depositphotos_46571297-stock-photo-childhood-sandpit-sandbox-with-toys.jpg" alt="calculatrice">

    <div class="form-group">
        <ul class="h2 mt-4 mb-4" > La liste de mes constructions </ul>
        <li class="mt-4">
            <a  href="{{ path('date') }}">Le calcul de la date d'échéance</a>
        </li>
        <li class="mt-4">
            <a  href="">L'autoliquidation de TVA</a>
        </li>






{% endblock %}